.admin__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 15px;
}

.admin__title {
  font-size: 32px;
  margin-bottom: 50px;
  @media (max-width: 768px) {
    font-size: 28px;
    margin-bottom: 40px;
  }
}

.admin__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 20px;
  @media (max-width: 1060px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 510px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.admin__card {
  padding: 16px;
  border-radius: 8px;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #202020;
}

.admin__code {
  font-weight: bold;
  font-size: 22px;
  word-break: break-word;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.admin__date {
  font-size: 18px;
  color: #6f796f;
  margin: 16px 0 40px;
  @media (max-width: 768px) {
    font-size: 16px;
  }
  @media (max-width: 560px) {
    font-size: 15px;
  }
}

.admin__btn {
  font-weight: 400;
  border-radius: 7px;
  font-size: 16px;
  padding: 12px 20px;
  @media (max-width: 640px) {
    font-size: 15px;
    padding: 11px 17px;
  }
}

.btn--create {
  background: #4BB543;
  color: #fff;
  margin-bottom: 30px;
  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
}

.btn--delete {
  background: #e74c3c;
  color: #fff;
  border: 1px solid transparent;
}

.btn--delete:hover {
  background: #c0392b;
}

.btn--delete:focus {
  background: transparent;
  color: #e74c3c;
  border-color: #e74c3c;
}

.admin__logout {
  color: #e74c3c;
  border: 1px solid transparent;
  font-weight: 400;
  cursor: pointer;
  max-width: max-content;
  display: inline-block;
  margin-bottom: 12px;
  transition: color 0.4s, border .4s;
}

.admin__logout:hover {
  color: #c0392b;
  border-bottom-color: #c0392b;
}