.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: hidden;
}

.form__container {
  background: #171616;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  width: 95%;
  max-width: 500px;
}

.form__link {
  margin: 0 auto 38px;
  display: flex;
  max-width: max-content;
}

.form__link img {
  height: 26px;
  @include r($phone) {
    height: 23px;
  }
}

.form__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 18px;
  @include r($phone) {
    font-size: 22px;
  }
}

.form__inner {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.form__items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__item {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  margin-bottom: 9px;
}

.input {
  font-size: 16px;
  padding-left: 16px;
  padding-right: 16px;
  @include r($phone) {
    font-size: 15px;
  }
}

.form__btn {
  max-width: 100%;
  width: 100%;
  padding: 12px;
  font-size: 16px;
}

.error {
  display: none;
  font-size: 15px;
  color: #e74c3c;
  text-align: center;
}

.error.active {
  display: block;
  margin-bottom: -8px;
}