@import 'basic/reset';
@import 'basic/fonts';
@import 'basic/vars';
@import 'basic/mixin';
@import 'basic/global';

@import "components/btn";
@import "components/header";
@import "components/modal";

@import "home/home";
@import "home/mobile";
@import "form";
@import "admin";