.home {
  margin-bottom: 64px;

  &__inner {
    @include flex-column(0);
    justify-content: flex-end;
    position: relative;
    min-height: 510px;
    padding-bottom: 64px;
  }

  &__video {
    @include objectCoverBg;
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 1px solid #272727;
    margin-bottom: 14px;
  }

  &__title {
    font-family: $aeonik;
    font-weight: 400;
    font-size: 82px;
    max-width: 720px;
    line-height: 1.03;
    letter-spacing: -2.46px;
    margin-bottom: 16px;
    color: rgba($white, .8);

    span {
      color: $accent;
    }
  }

  &__text {
    font-size: 24px;
    letter-spacing: -0.72px;
    max-width: 550px;
    font-family: $aeonik;
    font-weight: 400;
    line-height: 1.1;

    span {
      background: linear-gradient(360deg, #0a0a0a 0%, #fff 80%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__bottom {
    @include flex-between(30);
    align-items: flex-start;
    margin-bottom: 64px;
    padding-top: 16px;
  }

  &__list, &__right {
    min-width: 220px;
  }

  &__list {
    @include flex-column(10);
    padding-left: 35px;
  }

  &__link {
    font-family: $robotoMono;
    color: $gray200;
    text-transform: uppercase;
    outline: 1px solid transparent;
    outline-offset: 2px;
    border-radius: 1px;
    transition: color .4s, border .4s, outline .4s;

    &:hover {
      color: rgba($white, .7);
    }

    &:focus {
      outline-color: $accent;
      color: $white;
    }
  }

  &__claim {
    min-width: 450px;
  }
}