.home {
  margin-bottom: 64px;

  &__inner {
    @include flex-column(0);
    justify-content: flex-end;
    position: relative;
    min-height: 535px;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
}