.html {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;

  &.active {
    overflow: hidden;
  }
}

.body {
  font-family: "Roboto Mono", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: $accent100;
  background-color: $black;
  letter-spacing: -0.36px;
  overflow-x: hidden;
  @include r($lg) {
    font-size: 18px;
  }
  @include r($phone) {
    font-size: 16px;
  }

  &.active {
    overflow-y: hidden;
  }
}

.container {
  max-width: 1360px;
  padding: 0 15px;
  margin: 0 auto;
}

.input {
  font-size: 18px;
  width: 100%;
  color: $accent100;
  padding: 14px 20px;
  border: 1px solid rgba($accent100, .4);
  transition: all 0.4s;
  margin-bottom: 12px;
  @include r($lg) {
    font-size: 17px;
  }
  @include r($phone) {
    font-size: 16px;
  }

  &:hover,
  &:focus {
    border-color: rgba($accent100, 0.8);
  }

  &::placeholder {
    color: rgba($accent100, 0.5);
    transition: color .4s;
  }

  &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    -webkit-text-fill-color: $accent100;
    transition: background-color .4s ease-out, border .4s, color .4s ease-out;
  }

  &.error-input {
    border-color: rgba(#B73434, .4);
    color: rgba(#B73434, 5);

    &::placeholder {
      color: rgba(#B73434, .5);
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgba($accent, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: $accent;
}

::selection {
  background-color: $accent;
  color: $black;
}