.html {
  position: relative;
  overflow-x: hidden;

  &.active {
    overflow: hidden;
  }
}

.body {
  font-family: $roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #F2F2F2;
  background-color: $black;
  letter-spacing: -0.36px;
  overflow-x: hidden;
  @include r($lg) {
    font-size: 18px;
  }
  @include r($phone) {
    font-size: 16px;
  }

  &.active {
    overflow-y: hidden;
  }
}

.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

.line {
  display: block;
  width: 100%;
  padding-bottom: 56px;
  border-bottom: 1px solid #272727;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

::selection {
  background-color: rgba($accent, .6);
  color: $white;
}