$desktop: 1200;
$lg: 992;
$tablet: 768;
$sm: 610;
$phone: 468;

$white: #FFFFFF;
$white100: #E2E2DF;
$white200: #F2F2F2;
$accent: #8AE06C;
$black: #0A0A0A;
$gray: #757575;
$gray200: #525252;

$roboto: "Roboto", sans-serif;
$robotoMono: "Roboto Mono", sans-serif;
$aeonik: "Aeonik Pro"