.btn {
  position: relative;
  overflow: hidden; // чтобы фон не вылезал наружу

  @include flex-align-center(9);
  justify-content: flex-start;
  padding: 13px 17px;
  background-color: transparent;
  font-size: 14px;
  font-family: $robotoMono;
  font-weight: 700;
  text-transform: uppercase;
  max-width: max-content;
  border: 1px solid $white;
  z-index: 1; // текст выше фона

  transition: color .3s, border .3s;

  // Псевдоэлемент для выезжающего фона
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;                 // стартовое состояние
    background-color: $white; // цвет заливки
    transition: width .35s ease;
    z-index: -1;              // под текстом
  }

  &:hover {
    color: $black;

    &::before {
      width: 100%; // вот оно — плавное расширение
    }

    svg g path {
      fill: $black;
    }

    .btn__path {
      g path {
        fill: transparent;
      }
      path {
        stroke: $black;
      }
    }

    .btn__end {
      path {
        fill: $black;
      }
    }
  }

  &:focus {
    background-color: transparent;
    color: white;
    border-color: $accent;

    &::before {
      width: 0;
    }

    svg g path {
      fill: $accent;
    }

    .btn__path {
      g path {
        fill: transparent;
      }
      path {
        stroke: $accent;
      }
    }

    .btn__end {
      path {
        fill: $accent;
      }
    }
  }

  &__end {
    margin-left: auto;
  }
}