.header {
  padding: 35px 0;
  @include r($desktop) {
    padding: 32px 0;
    position: relative;
    z-index: 900;
  }

  &__inner {
    @include flex-between-center-gap(30);
    font-family: $robotoMono;
  }

  &__nav {
    @media (max-width: 1200px) {
      display: none;
    }

    &.mobile {
      display: none;
      @media (max-width: 1200px) {
        display: block;
        width: 100%;
      }
    }
  }

  &__list {
    @include flex-align-center(20);
    @include r($desktop) {
      flex-direction: column;
      align-items: flex-start;
      gap: 28px;
    }

    li {
      &:not(:last-child) {
        padding-right: 20px;
        border-right: 1px solid #272727;
        @include r($desktop) {
          padding-right: 0;
          border: none;
        }
      }
    }
  }

  &__link {
    @include flex-align-center(0);
    text-transform: uppercase;
    font-size: 13px;
    border: 1px solid transparent;
    outline: 1px solid transparent;
    outline-offset: 2px;
    border-radius: 1px;
    transition: color .4s, border .4s, outline .4s;
    @include r($desktop) {
      font-size: 16px;
    }
    @include r($phone) {
      font-size: 15px;
    }

    &:hover {
      color: rgba($white, .7);
    }

    &:focus {
      outline-color: $accent;
      color: $white;
    }
  }

  &__assis {
    @include flex-align-center(7);
    text-transform: uppercase;
    outline: 1px solid transparent;
    outline-offset: 3px;
    border-radius: 1px;
    transition: opacity .4s, outline .4s;
    @include r($desktop) {
      margin-left: auto;
    }
    @include r($sm) {
      display: none;
    }

    &:hover {
      opacity: .8;
    }

    &:focus {
      outline-color: $accent;
      color: $white;
    }

    &.mobile {
      display: none;
      @include r($sm) {
        display: flex;
        margin-left: 0;
        margin-bottom: 32px;
      }
    }
  }

  &__mobile {
    @include flex-column(0);
    padding: 134px 15px 30px;
    display: none;
    pointer-events: none;
    user-select: none;
    position: fixed;
    z-index: 880;
    top: 0;
    left: 0;
    width: 330px;
    background-color: $black;
    transform: translateX(-100%);
    height: 100vh;
    transition: transform .5s ease-in-out;
    @media (max-width: 1200px) {
      display: flex;
      align-items: flex-start;
    }
    @include r($phone) {
      width: 100%;
    }

    &.active {
      transform: translateX(0);
      pointer-events: auto;
      user-select: auto;
    }
  }
}