.header {
  padding: 35px 0;

  &__inner {
    @include flex-between-center-gap(30);
    font-family: $robotoMono;
  }

  &__list {
    @include flex-align-center(20);

    li {
      &:not(:last-child) {
        padding-right: 20px;
        border-right: 1px solid #272727;
      }
    }
  }

  &__link {
    @include flex-align-center(0);
    text-transform: uppercase;
    font-size: 13px;
    border: 1px solid transparent;
    outline: 1px solid transparent;
    outline-offset: 2px;
    border-radius: 1px;
    transition: color .4s, border .4s, outline .4s;

    &:hover {
      color: rgba($white, .7);
    }

    &:focus {
      outline-color: $accent;
      color: $white;
    }
  }

  &__assis {
    @include flex-align-center(7);
    text-transform: uppercase;
    outline: 1px solid transparent;
    outline-offset: 3px;
    border-radius: 1px;
    transition: opacity .4s, outline .4s;

    &:hover {
      opacity: .8;
    }

    &:focus {
      outline-color: $accent;
      color: $white;
    }
  }
}