<!DOCTYPE html>
<html class="html" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta
      name="description"
      content="Peer-to-peer encrypted messaging over offline mesh. No servers. No accounts. No mobile access. Just your code and total privacy."
  >
  <title>bitchat* — secure mesh chat</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="icon" href="images/icons/favicon.svg" type="images/x-icon">
  <link rel="shortcut icon" href="favicon.svg" type="image/x-icon">
  <link rel="stylesheet" href="css/style.min.css">
</head>