<header class="header">
  <div class="container">
    <div class="header__inner">
      <img class="header__img" src="images/logo.svg" width="112" height="30" alt="logo LayerZero.">
      <nav class="header__nav">
        <ul class="header__list">
          <li>
            <a class="header__link" target="_blank" href="">
              &lt;/A&gt; Developers
            </a>
          </li>
          <li>
            <a class="header__link" target="_blank" href="">
              &lt;/A&gt; Products
            </a>
          </li>
          <li>
            <a class="header__link" target="_blank" href="">
              &lt;/A&gt; Ecosystem
            </a>
          </li>
          <li>
            <a class="header__link" target="_blank" href="">
              &lt;/A&gt; Resources
            </a>
          </li>
          <li>
            <a class="header__link" target="_blank" href="">
              &lt;/A&gt; Scan
            </a>
          </li>
        </ul>
      </nav>
      <a class="header__assis" href="" target="_blank">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0_207_2139" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16">
            <path d="M16 0H0V16H16V0Z" fill="white"/>
          </mask>
          <g mask="url(#mask0_207_2139)">
            <path d="M1.59961 1.59961H14.3996V14.3996L11.8396 11.8396H1.59961V1.59961Z" fill="#F2F2F2"/>
          </g>
        </svg>
        Developer Assistance
      </a>
    </div>
  </div>
</header>